<a class="nav-link" routerLink="/store/{{ famousStore.id }}">
  <div>
    <div
      class="card cardAnimation mb-2 rounded"
      style="width: 20rem"
    >
      <img src="{{ famousStore.avatar }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ famousStore.name }}</h5>
        <div class="text-wrap">
          <p class="card-text text-secondary fontSize truncateLineClamp">
            {{ famousStore.description }}
          </p>
          <div class="rating-wrap">
            <p class="list-group-item text-secondary fs-6">
              {{ famousStore.rating }}
            </p>
            <img src="../../../assets/icons/star.svg" class="svgIcon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
