<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="emptyCartWrap" *ngIf="isCartEmpty(); else cartNotEmpty">
        <app-empty-cart />
    </div>

    <ng-template #cartNotEmpty>
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Your Order</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bodyWrap">
            <div>
                @for(product of service.getItems(); track product.id) {
                <div class="container pt-2">
                    <div class="row">
                        <div class="card mb-3">
                            <div class="d-flex justify-content-around">
                                <div class="col-md-4 pt-3">
                                    <img src="{{ product.avatar }}" class="rounded productImg" alt="..." />
                                </div>

                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="textWrap">
                                            <h5 class="card-title fontSize">{{ product.name }}</h5>
                                            <p class="card-text text-wrap truncateLineClamp fontSize">
                                                {{ product.description }}
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text fs-6 marginBlock mt-2">
                                                <small class="text-success fw-medium ">{{ product.price }} €</small>
                                            </p>

                                            <div class="d-flex align-items-center" style="max-width: 150px">
                                                <button class="btn" (click)="service.decreaseQuantity(product.id)">
                                                    -
                                                </button>

                                                <p class="text-success fs-6 marginBlock">
                                                    {{ product.quantity }}
                                                </p>

                                                <button class="btn" (click)="service.increaseQuantity(product.id)">
                                                    +
                                                </button>
                                            </div>
                                            <div>
                                                <button class="btn" (click)="deleteFromCart(product)">
                                                    <img src="../../../assets/icons/trash.svg" class="svgIcon pb-1" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

                <hr class="text-success">
                <div class="d-flex justify-content-end pe-5">
                    <p class="text-success fs-5">Total &nbsp; {{ service.getTotal() }} €</p>

                </div>
                <div class=" d-grid gap-2 checkoutWrap">
                    <button class="btn checkoutBtn fs-5 fw-medium" type="button">Checkout</button>
                </div>

            </div>
        </div>
    </ng-template>

</div>