.emptyCartWrap {
  height: 100%;
}

.bodyWrap {
  position: relative;
}

.card {
  border: none;
}

.productImg {
  object-fit: cover;
  width: 100%;
}

.textWrap {
  height: 75px;
}

.fontSize {
  font-size: 13px;
}

.marginBlock {
  margin-block: 0;
}

.truncateLineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.svgIcon {
  filter: invert(33%) sepia(86%) saturate(3326%) hue-rotate(140deg) brightness(86%) contrast(80%);
}

.checkoutWrap {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.checkoutBtn {
  background-color: #ffcf07;
  height: 60px;
  border: none;
  color: #143727;
}
