<a class="nav-link" routerLink="/store/{{ store.id }}">
  <div>
    <div class="card cardAnimation mb-5 bg-body-tertiary rounded" style="width: 25rem">
      <img src={{store.avatar}} class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">{{ store.name }}</h3>
        <div class="text-wrap">
          <p class="card-text text-secondary fs-6">{{ store.description }}</p>
          <div class="rating-wrap">
            <p class="list-group-item text-secondary fs-6"> {{ store.rating }}</p>
            <img src="../../../assets/icons/reviews.svg" class="svgIcon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</a>