<a class="nav-link" routerLink="/store/{{ store.id }}">
  <div>
    <div class="card cardAnimation mb-2 rounded" style="width: 20rem">
      <img src={{store.avatar}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ store.name }}</h5>
        <div class="d-flex justify-content-between">
          <p class="card-text text-secondary fontSize truncateLineClamp">{{ store.description }}</p>
          <div class="d-flex justify-content-between">
            <p class="list-group-item text-secondary fs-6"> {{ store.rating }}</p>
            <img src="../../../assets/icons/star.svg" class="svgIcon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</a>