.dropdown-menu { 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1)!important; 
    margin-top:-5px !important;  
    margin-left: -55px;
} 

.svgIcon {
    filter: invert(45%) sepia(61%) saturate(7484%) hue-rotate(208deg) brightness(100%) contrast(99%);
}
