<div >
  <nav class="navbar sticky navBar navbar-expand-lg navbar-light ps-3 pe-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home" routerLinkActive="active">
        <img
          src="assets\images\logo-no-bg.png"
          class="d-inline-block align-center logo"
          alt="  WL Delivery Service Logo"
        />
      </a>
      
      <app-search />

      <div class="d-flex">
        <div>
          <div class="d-flex relative">
            <div class="badge">
              <p class="badgeNumber">{{ getTotalQuantity() }}</p>
            </div>
    
            <a
              class="btn"
              data-bs-toggle="offcanvas"
              href="#offcanvasExample"
              role="button"
              aria-controls="offcanvasExample"
            >
              <img src="../../../assets/icons/cart.svg" class="svgIcon pt-3" />
            </a>
          </div>
        </div>
        <div class="justify-content-end pt-4">
          <ul class="navbar-nav d-flex justify-content-end">
            <div class="d-flex justify-content-end pe-2">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  data-bs-placement="center"
                  aria-expanded="false"
                >
 
                  <img
                    src="\assets\icons\avatar.svg"
                    alt=""
                    class="ms-1 mb-1 svgAvatar"
                  />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="account"
                      routerLinkActive="active"
                      >Account page
                      </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a 
                    class="dropdown-item" 
                    routerLink="history" 
                    routerLinkActive="active"
                    >Orders</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      class="dropdown-item"
                      routerLink="login"
                      routerLinkActive="active"
                      >Log out</a
                    >
                  </li>
                </ul>
              </li>
            </div>
          </ul>
  
        </div>
       
      </div>

    </div>
  </nav>
</div>
