.cardAnimation {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.cardAnimation:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.svgIcon {
    padding-bottom: 15px;
    filter: invert(84%) sepia(46%) saturate(1160%) hue-rotate(347deg) brightness(98%) contrast(107%);
    padding-left: 7px;
}

.avatar {
    max-height: 360px;
    object-fit: cover;
}

.button {
    --bs-btn-border-color: #143727;
    --bs-btn-bg: #143727;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #ffcf07;
    --bs-btn-hover-border-color: #ffcf07;
    --bs-btn-hover-color: #143727;
    height: 30px;
    padding-top: 2px;
}

input {
    height: 30px;
}

.fontSize {
    font-size: 13px;
}