<div class="container">
    <div>
        <div class="pb-2 pt-3">
            <img src={{store.avatar}} class="rounded avatar card-img" alt="...">
        </div>

        <div>
            <h1>{{store.name}}</h1>
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex pt-2">
                    <p class="d-flex">{{store.description}}</p>
                    <div class="d-flex ps-3">
                        <p class="list-group-item pe-1"> {{store.rating}}</p>
                        <img src="../../../assets/icons/star.svg" class="svgIcon pb-3" />
                    </div>
                </div>

                <form [formGroup]="searchForm" (ngSubmit)="getProductsByName()" class="d-flex" role="search">
                    <input class="form-control me-2 fontSize" type="search" placeholder="Search" aria-label="Search"
                        formControlName="searchValue">
                    <button class="btn button" type="submit">Search</button>
                </form>
            </div>
        </div>

        <div class="pt-5">
            <h3>Menu</h3>

            <div class="grid">
                <div class="row">
                    @for (product of store.products; track product.id) {
                    <div class="col d-inline-flex justify-content-center p-1">
                        <app-product [product]="product" />
                    </div>
                    } @empty {
                    <!-- <app-no-products /> -->
                    }
                </div>
            </div>
        </div>
    </div>
    <app-cart />