<div class="container wrap pt-5">
  <div class="pt-5">
    <div class="pb-3">
      <img
        src="assets\images\wl-delivery-service-high-resolution-logo-transparent.png"
        class="d-inline-block align-center"
        alt="  WL Delivery Service Logo"
      />
    </div>

    <h3 class="pb-5">Thanks for signing up!</h3>
    <div class="pt-3">
      <button
        class="btn btn-primary"
        routerLink="/home"
        routerLinkActive="active"
      >
        Go Home
      </button>
    </div>
  </div>
</div>
