<div class="container wrap">
  <div class="pt-5">
    <div class="pb-4">
      <img
        src="assets\images\wl-delivery-service-high-resolution-logo-transparent.png"
        class="d-inline-block align-center"
        alt="WL Delivery Service Logo"
      />
    </div>

    <h5 class="pb-3 pt-3">You have successfully registered!</h5>
    <div>
      <button
        class="btn button"
        routerLink="/home"
        routerLinkActive="active"
      >
        Go Home
      </button>
    </div>
  </div>
</div>