<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <form>
                    <div class="mb-4">
                        <h2 class="text-center">Log In</h2>
                    </div>
                    <div class="mb-3">
                        <label for="emailPhone" class="form-label">Phone number or email</label>
                        <input type="text" class="form-control" id="emailPhone">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3 text-center">
                        <small class="form-text text-muted">
                            Not already a member? <strong><a routerLink="/registration" routerLinkActive="active" class="link-success link-underline-opacity-75-hover">Register</a></strong>
                        </small>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn button">Log In</button>
                    </div>                  
                </form>
            </div>
        </div>
    </div>
</body>


