<div class="card my-2 mx-2" style="width: 18rem">
  <img
    class="card-img-top"
    height="135"
    [src]="history.avatar"
    alt="Card image cap"
  />
  <div class="card-body">
    <div class="d-flex text-muted font-weight-">
      <p class="card-text me-1 mx-auto">25/05/2023 |</p>
      <p class="card-text">22:23</p>
    </div>
    <h5 class="card-title">{{ history.first_name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted">{{ history.id }} x {{ history.email }}</li>
    <li class="list-group-item text-muted">2 x Chocolate Donut</li>
    <li class="list-group-item text-muted">1 x Orange Juice</li>
  </ul>
  <div class="card-body d-flex mx-auto">
    <a class="btn btn-light me-2" href="" role="button">Show more</a>
    <button class="btn btn-primary ms-1" type="submit">
      Order again
    </button>
  </div>
</div>
