<div class="card my-2 mx-2" style="width: 18rem">
  <img
    class="card-img-top"
    [src]="history.avatar"
    alt="Card image cap"/>
  <div class="card-body">
    <div class="d-flex text-muted font-weight-">
      <p class="card-text me-1 mx-auto">{{ history.date }}</p>
    </div>
    <h5 class="card-title">{{ history.name }}</h5>
  </div>
  <ul class="list-group list-group-flush ps-3 pe-3">
    <li class="text-muted d-flex justify-content-between">  
    <p class="truncateLineClamp">1 x {{ history.product1 }}, 1 x {{ history.product2 }}</p>
    </li>
    <hr>
    <li class="d-flex justify-content-end">
      <span class="me-4">Total:</span> 
      <span>{{ (+history.price1) + (+history.price2) }} €</span>
    </li>
  </ul>
  <div class="card-body d-flex justify-content-end">
    <button class="btn button" type="submit">
      Order again
    </button>
  </div>
</div> 

