<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <form>
          <div class="mb-3">
            <h2 class="text-center">Registration</h2>
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="tel" class="form-control" id="phoneNumber" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="mb-3 text-center">
            <small class="form-text text-muted">
              Already a member?
              <strong><a routerLink="/login" routerLinkActive="active" class="link-success link-underline-opacity-75-hover">Log In</a></strong>
            </small>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn button"
              routerLink="/confirmation"
              routerLinkActive="active"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
