    <a class="nav-link" routerLink="/category/{{category.id}}">
        <div>
            <div class="card cardAnimation mb-5 bg-body-tertiary rounded" aria-hidden="true" style="width: 10rem;">
                <div>
                    <img src={{category.avatar}} class="card-img-top" alt="...">
                </div>
             
                <div class="card-body">
                  <h5 class="card-title fs-4 placeholder-glow" >{{category.first_name}}</h5>
                  <p class="card-text text-secondary placeholder-glow fs-6">{{categoriesList.total}} stores</p>
                </div>
              </div>
        </div>
    </a>


