.button {
    --bs-btn-border-color: #143727;
    --bs-btn-color:  #fff;
    --bs-btn-hover-bg: #ffcf07;
    --bs-btn-hover-border-color: #ffcf07; 
    --bs-btn-hover-color: #143727;
    --bs-btn-bg: #143727;
    height: 30px;
    padding-top: 2px;
}
