<div class="pb-2">
  <h2>Restaurants</h2>
</div>

<div class="grid">
  <div *ngIf="storeList.length; else skeleton" class="row">
    @for (store of storeList; track store.id) {
    <div class="col d-inline-flex justify-content-center p-1">
      <app-store [store]="store" />
    </div>
    } @empty {
      <h2>No data available...</h2>
    }
  </div>
</div>

<ng-template #skeleton>
  <div class="grid">
    <div class="row">
      @for (i of skeletons; track i) {
      <div class="col d-inline-flex justify-content-center p-1">
        <div class="card mb-2 bg-body-tertiary rounded" style="width: 20rem">
          <ngx-skeleton-loader
            class="d-block"
            count="1"
            [theme]="{
              width: '318px',
              height: '224px',
            }"
          >
          </ngx-skeleton-loader>

          <ngx-skeleton-loader
            class="d-block ps-3"
            count="1"
            animation="pulse"
            appearance="line"
            [theme]="{
              width: '150px'
            }"
          >
          </ngx-skeleton-loader>

          <ngx-skeleton-loader
            class="ps-3"
            count="1"
            animation="pulse"
            appearance="line"
            [theme]="{
              width: '100px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>
