<div class="container">
    <div>
        <form [formGroup]="searchForm" (ngSubmit)="getStoresByName()" class="d-flex" role="search">
            <input
              class="form-control me-2 fontSize" style="max-width: 200px;"
              type="search"
              placeholder="Search"
              aria-label="Search"
              formControlName="searchValue"
            />
            <button class="btn button" type="submit" routerLink="stores">Search</button>
          </form>
    </div>
</div>
