<div class="pb-2">
  <h2>Categories</h2>
</div>
<div class="grid">
  <p-carousel
    *ngIf="categoriesList.length > 0"
    [value]="categoriesList"
    [numVisible]="6"
    [numScroll]="3"
    [circular]="true"
    [autoplayInterval]="3000"
    styleClass="custom-carousel"
  >
    <ng-template let-category pTemplate="item">
      <div class="category-card">
        <img
          [src]="category.avatar"
          [alt]="category.category"
          class="category-image"
        />
        <div class="category-details">
          <h4 class="category-name">{{ category.category }}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
