<div class="pb-2">
  <h2>Categories</h2>
</div>

<div class="grid">
  <div *ngIf="categoriesList.length; else skeleton" class="row">
    @for (category of categoriesList; track category.id) {
            <div class="col d-inline-flex justify-content-center p-1">
              <app-category [category]="category" />
        </div>
    } @empty {
    <h2>No data available...</h2>
    }
  </div>
</div>


<ng-template #skeleton>
  <div class="grid">
    <div class="row">
      @for (i of skeletons; track i) {
        <div class="col d-inline-flex justify-content-center p-1">
          <div class="card cardAnimation mb-5 bg-body-tertiary rounded" aria-hidden="true" style="width: 10rem;">
            <ngx-skeleton-loader
                class="d-block"
                count="1"
                [theme]="{
                  width: '159px',
                  height: '159px',
                }"
              >
              </ngx-skeleton-loader>
    
              <ngx-skeleton-loader
                class="ps-3"
                count="1"
                animation="pulse"
                appearance="line"
                [theme]="{
                  width: '100px'
                }"
              >
              </ngx-skeleton-loader>
            </div>
        </div>
      }
    </div>
  </div>


</ng-template>



