<div class="container pb-2">
  <h2>Categories</h2>
</div>
<div class="container mb-8">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between flex-wrap">
        <div
          *ngFor="
            let category of categoriesList.slice(currentIndex, currentIndex + 6)
          "
          class="p-2"
        >
          <app-category [category]="category"></app-category>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <ng-container
        *ngIf="
          !categoriesList || categoriesList.length === 0;
          else dataAvailable
        "
      >
        <h2>No data available...</h2>
      </ng-container>
      <ng-template #dataAvailable> </ng-template>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <button
            class="btn btn-primary mr-2"
            (click)="moveCarousel(-1)"
            [disabled]="currentIndex === 0"
          >
            &lt;
          </button>
          <button
            class="btn btn-primary ml-2"
            (click)="moveCarousel(1)"
            [disabled]="currentIndex + 6 >= categoriesList.length"
          >
            &gt;
          </button>
        </div>
        <a href="#" class="btn btn-link ml-2">Show All</a>
      </div>
    </div>
  </div>
</div>
