.container {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(52, 77, 101, 0.1);
    padding: 20px;
    margin-bottom: 20px;   
}

.form-border {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    border-radius: initial;
}

.button {
    --bs-btn-border-color: #143727;
    --bs-btn-bg: #143727;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #ffcf07;
    --bs-btn-hover-border-color: #ffcf07;
    --bs-btn-hover-color: #143727;
    height: 30px;
    padding-top: 2px;
}
